<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Сторінка про нас'}); %>
</head>

<body>
  <!-- ##### Preloader ##### -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <!-- Line -->
    <div class="line-preloader"></div>
  </div>

  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <%- include('../partials/header') %>
  </header>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Breadcrumb Area Start ##### -->
  <div class="breadcrumb-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="/">Головна</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Про нас</li>
            </ol>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Breadcrumb Area End ##### -->

  <!-- ##### About Us Area Start ##### -->
  <div class="about-us-area about-page section-padding-100">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col-12 col-lg-12">
          <div class="about-thumbnail">
            <img src="static/img/bg-img/main.png" alt="">
          </div>
        </div>
        <div class="col-12 col-lg-12">
          <div class="about-content">
            <h2>Церква Божого Спасіння</h2>
            <p>Місто Рівне знаходиться на заході України. Ліси, велика кількість озер, річок, гарні краєвиди, чисте повітря,
              привітні люди – саме це є короткою характеристикою і в той же час безцінним скарбом Рівненщини. Саме в цьому
              місті, народилася Церква, якій, як і людині, при народженні дали ім’я – ЦЕРКВА БОЖОГО СПАСІННЯ.
              <br>
              <br> Історія народження цієї церкви, розпочалась із бажання, бажання Божих людей щоб світло Євангеліє було в
              Рівному. Протягом чотирьох років, починаючи з 1991 року в Палаці дітей та молоді проходили євангелізаційні
              зібрання. Свідоцтва, псалми, проповіді, молитви – все це лунало зі сцени, де колись прославлалась людина,
              розмум і сила. Місія «Добрий Самарянин» на чолі з братами Радчуками за допомогою Слова сіяли зерна істини
              у серця людей. Але як насінина, яка впала на грунт, має прорости, так і Слово, що попало в людське серце
              має дати плід. Після унеможливлення проводити зібрання в Палаці дітей та молоді прийшлося шукати нового приміщення
              для проведення служінь. Брати молилися, взивали до Господа: “Як це так, стільки людей приходить, стільки
              гарних свідчень, прекрасні результати молитов, і саме в цей момент закриваються двері. Чому?” Селище “Ювілейне”
              було побудоване нещодавно, а тому контингент його жителів складався з молодих та енергійних людей, багато
              з яких були вчителями, лікарями та інженерами. І саме там було передбачено Богом створення нової церкви.
              Майже на протязі року проводилися євангелізаційні зібрання просто неба в парку відпочинку «Хімік» на Ювілейному.
              Результатом цих служінь і стало народження церкви: частина членів були ще з Палацу дітей та молоді, а більшість
              з новонавернених людей.
              <br>
              <br> 1995 рік, свято Трійці – саме цей день офіційно прийнято вважати днем народження Церкви Божого Спасіння.
              Першим пастором церкви став Сергій ІЛЬНИЦЬКИЙ. Як і церква він був молодим та енергійним служителем. Брату
              Сергію прийшлося дуже багато часу і сил віддати, щоб церква зростала. В той час девізом його служіння «Для
              людини це неможливо, але для Господа можливо ВСЕ!» Саме ці слова підбадьорювали, коли було важко, коли опускалися
              руки, але дякуючи Господа, саме дякуючи Його старанням, церква встояла і почала рости і розвиватися.
              <br>
              <br>Після трех років пастирування Сергія ІЛЬНИЦЬКОГО пастором церкви стає директор місії «Добрий Самарянин» Ярослав
              КУЛІНІЧ. Саме при ньому кількість членів церкви збільшилась майже до 200 чоловік. Зібрання проходили спочатку
              в малому залі Палацу культури «ХІМІК», а потім, коли вже не вистачало місця, перейшли у великий зал, який
              вміщав до 800 чоловік. Дуже багато людей приходило послухати Слово, поспівати псалмів, або просто відпочити
              душею, святкові недільні зібрання були переповнені – люди прагнули Істини, люди шукали Христа. Кожного, хто
              виходив на покаяння, обгортали особливою увагою, задіювали у служіння, щоб людина з самого початку відчула
              любов і зрозуміла, що церква, це організм, який працює, який живе і дихає.
              <br>
              <br> У 2003 році Ярослав КУЛІНІЧ, як і попередній пастор, переїжджає до Америки. Церква вже налічувала близько
              200 членів, тому було прийнято рішення вибрати два пастора. Одним із них став Віталій ЗОЗУЛЯ, який майже
              з самого початку заснування церкви був активним працівником і постійним помічником для Сергія ІЛЬНИЦЬКОГО,
              іншим – Олександр ПОПЧУК. Крім цього було вибрано чотири кандидати на диякони, Віктор Денисюк, Валерій Пилат,
              Ігор Ушаков та Анатолій Захарук, які успішно пройшли випробувальний термін і були рукопокладені на служіння
              диякона у 2004 році.
              <br>
              <br> Дякуючи старанням церкви було закінчено приміщення Будинку Молитви і 7 січня 2007 року святкували відкриття
              нового Дому Молитви. Були запрошені майже всі люди, які були тим чи іним чином причетні до створення церкви:
              брати Радчуки, служителі братерства, співочі гурти «САЛИМ», «АВЕН ЄЗЕР», «ВИФІЛЬ» та багато і багато інших
              людей. Приміщення Молитовного Дому вміщує до 400 сидячих місць, але саме на відкритті будівля прийняла близько
              1000 гостей, всі хотіли приєднатися до молитви подяки Господу за створення нового світильника в Рівному і
              зокрема в районі Ювілейне.
              <br>
              <br> Сьогодні Церква Божого Спасіння живе та розвивається: проводиться служіння – відвідування хворих, робота
              з безпритульними, євангелізаціні і святкові, також служіння у в’язниці. Майже кожного року проходять спеціальні
              зібрання: для інвалідів, для маленьких дітей, для інтелігенції, проводяться семінари на різні актуальні теми.
              Церква приймає активну участь в житті братерства.
              <br>
              <br> Саме в цьому році Церква Божого Спасіння буде відмічати 15 років від свого народження, і нинішні християни
              зможуть передати євангельську новину, яку отримали від попередніх поколінь.
            </p>
            <div class="opening-hours-location mt-30 d-flex align-items-center">
              <!-- Opening Hours -->
              <div class="opening-hours">
                <h6>
                  <i class="fa fa-clock-o"></i> Відкриті</h6>
                <p>Пн - Пт: 10:00 - 21:00
                  <br>Неділя: 08:00 - 20:00</p>
              </div>
              <!-- Location -->
              <div class="location">
                <h6>
                  <i class="fa fa-map-marker"></i> Адреса</h6>
                <p>Рівне, Рівненська область, вулиця Корольова, 3</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- ##### About Us Area End ##### -->

  <!-- ##### Call To Action Area Start ##### -->
  <%- include('../partials/call_to_action') %>
  <!-- ##### Call To Action Area End ##### -->

  <!-- ##### Team Members Area Start ##### -->
  <div class="team-members-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading">
            <h2>Служителі</h2>
            <p>Коротка інформація про наших служителів.</p>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- Team Members Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-members text-center mb-100">
            <div class="team-thumb" style="background-image: url(static/img/bg-img/33.jpg);">
              <div class="team-social-info">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <h6>Jackson Nash</h6>
            <span>Pastor</span>
          </div>
        </div>

        <!-- Team Members Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-members text-center mb-100">
            <div class="team-thumb" style="background-image: url(static/img/bg-img/34.jpg);">
              <div class="team-social-info">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <h6>Rucsandra Moisa</h6>
            <span>Bishop</span>
          </div>
        </div>

        <!-- Team Members Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-members text-center mb-100">
            <div class="team-thumb" style="background-image: url(static/img/bg-img/35.jpg);">
              <div class="team-social-info">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <h6>Ollie Schneider</h6>
            <span>Archbishop</span>
          </div>
        </div>

        <!-- Team Members Area -->
        <div class="col-12 col-sm-6 col-lg-3">
          <div class="single-team-members text-center mb-100">
            <div class="team-thumb" style="background-image: url(static/img/bg-img/36.jpg);">
              <div class="team-social-info">
                <a href="#">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </div>
            </div>
            <h6>Alex Manning</h6>
            <span>Pope</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ##### Team Members Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <%- include('../partials/footer') %>
  </footer>
  <!-- ##### Footer Area End ##### -->

  <%- include('../partials/scripts') %>
</body>

</html>