<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head', {title: 'Головна сторінка'}); %>
</head>

<body>
  <!-- ##### Preloader ##### -->
  <div class="preloader d-flex align-items-center justify-content-center">
    <!-- Line -->
    <div class="line-preloader"></div>
  </div>

  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <%- include('../partials/header') %>
  </header>
  <!-- ##### Header Area End ##### -->

  <!-- ##### Hero Area Start ##### -->
  <section class="hero-area hero-post-slides owl-carousel">
    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(static/img/bg-img/cbs1.jpeg);">
      <!-- Post Content -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slides-content">
              <h2 data-animation="fadeInUp" data-delay="100ms">Будівництво надії</h2>
              <p data-animation="fadeInUp" data-delay="300ms">Дізнайтеся про нашу місію,
                наші вірування і надію яку ми маємо в Ісусі.</p>
              <a href="/about" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Про нас</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Hero Slide -->
    <div class="single-hero-slide bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url(static/img/bg-img/cbs2.jpg);">
      <!-- Post Content -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slides-content">
              <h2 data-animation="fadeInUp" data-delay="100ms">Наші контакти</h2>
              <p data-animation="fadeInUp" data-delay="300ms">Наші контакти.</p>
              <a href="/contact" class="btn crose-btn" data-animation="fadeInUp" data-delay="500ms">Контакти</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Hero Area End ##### -->

  <!-- ##### About Area Start ##### -->
  <section class="about-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading">
            <h2>Ласкаво просимо до церкви</h2>
            <p>Церква не є будівлею - це люди. Ми проводимо зібрання у м. Рівному за адресою вул. Корольова 3.</p>
          </div>
        </div>
      </div>

      <div class="row about-content justify-content-center">
        <!-- Single About Us Content -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="about-us-content mb-100">
            <!-- <img src="static/img/bg-img/3.jpg" alt=""> -->
            <img src="static/img/bg-img/cbs1.jpeg" alt="">
            <div class="about-text">
              <h4>Наша церква</h4>
              <p>Церква Божого Спасіння.</p>
              <!-- <a href="#">Читати більше
                <i class="fa fa-angle-double-right"></i>
              </a> -->
            </div>
          </div>
        </div>

        <!-- Single About Us Content -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="about-us-content mb-100">
            <!-- <img src="static/img/bg-img/4.jpg" alt=""> -->
            <img src="static/img/bg-img/cbs1.jpeg" alt="">
            <div class="about-text">
              <h4>Наша історія</h4>
              <p>Церква була заснована у **** році.</p>
              <!-- <a href="#">Читати більше
                <i class="fa fa-angle-double-right"></i>
              </a> -->
            </div>
          </div>
        </div>

        <!-- Single About Us Content -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="about-us-content mb-100">
            <!-- <img src="static/img/bg-img/5.jpg" alt=""> -->
            <img src="static/img/bg-img/cbs1.jpeg" alt="">
            <div class="about-text">
              <h4>Наші служіння</h4>
              <p>Маємо багато служінь.</p>
              <!-- <a href="#">Читати більше
                <i class="fa fa-angle-double-right"></i>
              </a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### About Area End ##### -->

  <!-- ##### Call To Action Area Start ##### -->
  <%- include('../partials/call_to_action') %>
  <!-- ##### Call To Action Area End ##### -->

  <!-- ##### Latest Sermons Area Start ##### -->
  <section class="latest-sermons-area section-padding-100-0">
    <div class="container">
      <div class="row">
        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading">
            <h2>Останні служіння</h2>
            <p>Наші служіння проводяться у вівторок, пятницю та неділю кожного тижня.
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <!-- Single Latest Sermons -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-latest-sermons mb-100">
            <div class="sermons-thumbnail">
              <!-- <img src="static/img/bg-img/7.jpg" alt=""> -->
              <img src="static/img/bg-img/19.jpg" alt="">
              <!-- Date -->
              <div class="sermons-date">
                <h6>
                  <span>3</span>Бер</h6>
              </div>
            </div>
            <div class="sermons-content">
              <!-- <div class="sermons-cata">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Video">
                  <i class="fa fa-video-camera" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Audio">
                  <i class="fa fa-headphones" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Docs">
                  <i class="fa fa-file" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Download">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
                </a>
              </div> -->
              <h4>Життя християнина</h4>
              <div class="sermons-meta-data">
                <p>
                  <i class="fa fa-user" aria-hidden="true"></i> Проповідники:
                  <span>Віталій Зозуля</span>
                </p>
                <p>
                  <i class="fa fa-tag" aria-hidden="true"></i> Теми:
                  <span>Молитва, прощення</span>
                </p>
                <p>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> 3 Березня
                  <span>10:00 - 12:00</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Latest Sermons -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-latest-sermons mb-100">
            <div class="sermons-thumbnail">
              <!-- <img src="static/img/bg-img/8.jpg" alt=""> -->
              <img src="static/img/bg-img/19.jpg" alt="">
              <!-- Date -->
              <div class="sermons-date">
                <h6>
                  <span>5</span>Квіт</h6>
              </div>
            </div>
            <div class="sermons-content">
              <!-- <div class="sermons-cata">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Video">
                  <i class="fa fa-video-camera" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Audio">
                  <i class="fa fa-headphones" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Docs">
                  <i class="fa fa-file" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Download">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
                </a>
              </div> -->
              <h4>Що потрібно для спасіння</h4>
              <div class="sermons-meta-data">
                <p>
                  <i class="fa fa-user" aria-hidden="true"></i> Проповідники:
                  <span>Олександер Попчук</span>
                </p>
                <p>
                  <i class="fa fa-tag" aria-hidden="true"></i> Теми:
                  <span>Спасіння</span>
                </p>
                <p>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> 5 Квітня
                  <span>10:00 - 12:00</span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <!-- Single Latest Sermons -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-latest-sermons mb-100">
            <div class="sermons-thumbnail">
              <!-- <img src="static/img/bg-img/9.jpg" alt=""> -->
              <img src="static/img/bg-img/19.jpg" alt="">
              <!-- Date -->
              <div class="sermons-date">
                <h6>
                  <span>10</span>Трав</h6>
              </div>
            </div>
            <div class="sermons-content">
              <!-- <div class="sermons-cata">
                <a href="#" data-toggle="tooltip" data-placement="top" title="Video">
                  <i class="fa fa-video-camera" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Audio">
                  <i class="fa fa-headphones" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Docs">
                  <i class="fa fa-file" aria-hidden="true"></i>
                </a>
                <a href="#" data-toggle="tooltip" data-placement="top" title="Download">
                  <i class="fa fa-cloud-download" aria-hidden="true"></i>
                </a>
              </div> -->
              <h4>Другий прихід Христа</h4>
              <div class="sermons-meta-data">
                <p>
                  <i class="fa fa-user" aria-hidden="true"></i> Проповідники:
                  <span>Сергій Субот</span>
                </p>
                <p>
                  <i class="fa fa-tag" aria-hidden="true"></i> Теми:
                  <span>Христос, прихід</span>
                </p>
                <p>
                  <i class="fa fa-clock-o" aria-hidden="true"></i> 10 травня
                  <span>10:00 - 12:00</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Latest Sermons Area End ##### -->

  <!-- ##### Upcoming Events Area Start ##### -->
  <section class="upcoming-events-area section-padding-0-100">
    <!-- Upcoming Events Heading Area -->
    <div class="upcoming-events-heading bg-img bg-overlay bg-fixed" style="background-image: url(static/img/bg-img/cbs2.jpg);">
      <!-- <div class="upcoming-events-heading bg-img bg-overlay bg-fixed" style="background-image: url(static/img/bg-img/1.jpg);"> -->
      <div class="container">
        <div class="row">
          <!-- Section Heading -->
          <div class="col-12">
            <div class="section-heading text-left white">
              <h2>Майбутні події</h2>
              <p>Відвідайте нашу сторінку майбутніх подій щоб отримати інформацію</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Upcoming Events Slide -->
    <div class="upcoming-events-slides-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="upcoming-slides owl-carousel">

              <div class="single-slide">
                <!-- Single Upcoming Events Area -->
                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                  <!-- Thumbnail -->
                  <div class="upcoming-events-thumbnail">
                    <img src="static/img/bg-img/23.jpg" alt="">
                  </div>
                  <!-- Content -->
                  <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                    <div class="events-text">
                      <h4>Святкове зібрання</h4>
                      <div class="events-meta">
                        <a href="#">
                          <i class="fa fa-calendar" aria-hidden="true"></i> 1 Квітня, 2019</a>
                        <a href="#">
                          <i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 11:00</a>
                        <a href="#">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>вул. Корльова 3</a>
                      </div>
                      <p>Інформація про подію.</p>
                      <a href="#">Читати більше
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </div>
                    <div class="find-out-more-btn">
                      <a href="#" class="btn crose-btn btn-2">Переглянути</a>
                    </div>
                  </div>
                </div>

                <!-- Single Upcoming Events Area -->
                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                  <!-- Thumbnail -->
                  <div class="upcoming-events-thumbnail">
                    <img src="static/img/bg-img/23.jpg" alt="">
                  </div>
                  <!-- Content -->
                  <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                    <div class="events-text">
                      <h4>Молитовне зібрання</h4>
                      <div class="events-meta">
                        <a href="#">
                          <i class="fa fa-calendar" aria-hidden="true"></i> 15 Квітня, 2019</a>
                        <a href="#">
                          <i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 - 13:00</a>
                        <a href="#">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>вул. Корльова 3</a>
                      </div>
                      <p>Інформація про подію.</p>
                      <a href="#">Читати більше
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </div>
                    <div class="find-out-more-btn">
                      <a href="#" class="btn crose-btn btn-2">Переглянути</a>
                    </div>
                  </div>
                </div>

                <!-- Single Upcoming Events Area -->
                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                  <!-- Thumbnail -->
                  <div class="upcoming-events-thumbnail">
                    <img src="static/img/bg-img/23.jpg" alt="">
                  </div>
                  <!-- Content -->
                  <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                    <div class="events-text">
                      <h4>Семінар на тему "Християнська сімя"</h4>
                      <div class="events-meta">
                        <a href="#">
                          <i class="fa fa-calendar" aria-hidden="true"></i> 19 Березня, 2019</a>
                        <a href="#">
                          <i class="fa fa-clock-o" aria-hidden="true"></i> 10:00 - 17:00</a>
                        <a href="#">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>вул. Корльова 3</a>
                      </div>
                      <p>Інформація про подію.</p>
                      <a href="#">Читати більше
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </div>
                    <div class="find-out-more-btn">
                      <a href="#" class="btn crose-btn btn-2">Переглянути</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="single-slide">
                <!-- Single Upcoming Events Area -->
                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                  <!-- Thumbnail -->
                  <div class="upcoming-events-thumbnail">
                    <img src="static/img/bg-img/25.jpg" alt="">
                  </div>
                  <!-- Content -->
                  <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                    <div class="events-text">
                      <h4>Різдвяне служіння</h4>
                      <div class="events-meta">
                        <a href="#">
                          <i class="fa fa-calendar" aria-hidden="true"></i> 1 Травня, 2019</a>
                        <a href="#">
                          <i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 11:00</a>
                        <a href="#">
                          <i class="fa fa-map-marker" aria-hidden="true"></i> вул. Корльова 3</a>
                      </div>
                      <p>Інформація про подію.</p>
                      <a href="#">Читати більше
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </div>
                    <div class="find-out-more-btn">
                      <a href="#" class="btn crose-btn btn-2">Переглянути</a>
                    </div>
                  </div>
                </div>

                <!-- Single Upcoming Events Area -->
                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                  <!-- Thumbnail -->
                  <div class="upcoming-events-thumbnail">
                    <img src="static/img/bg-img/25.jpg" alt="">
                  </div>
                  <!-- Content -->
                  <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                    <div class="events-text">
                      <h4>Молодіжне служіння</h4>
                      <div class="events-meta">
                        <a href="#">
                          <i class="fa fa-calendar" aria-hidden="true"></i> 15 Травня, 2019</a>
                        <a href="#">
                          <i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 - 13:00</a>
                        <a href="#">
                          <i class="fa fa-map-marker" aria-hidden="true"></i> вул. Корльова 3</a>
                      </div>
                      <p>Інформація про подію.</p>
                      <a href="#">Читати більше
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </div>
                    <div class="find-out-more-btn">
                      <a href="#" class="btn crose-btn btn-2">Переглянути</a>
                    </div>
                  </div>
                </div>

                <!-- Single Upcoming Events Area -->
                <div class="single-upcoming-events-area d-flex flex-wrap align-items-center">
                  <!-- Thumbnail -->
                  <div class="upcoming-events-thumbnail">
                    <img src="static/img/bg-img/25.jpg" alt="">
                  </div>
                  <!-- Content -->
                  <div class="upcoming-events-content d-flex flex-wrap align-items-center">
                    <div class="events-text">
                      <h4>Молодіжний зїзд</h4>
                      <div class="events-meta">
                        <a href="#">
                          <i class="fa fa-calendar" aria-hidden="true"></i> 23 Травня, 2019</a>
                        <a href="#">
                          <i class="fa fa-clock-o" aria-hidden="true"></i> 09:00 - 17:00</a>
                        <a href="#">
                          <i class="fa fa-map-marker" aria-hidden="true"></i> вул. Корльова 3</a>
                      </div>
                      <p>Інформація про подію.</p>
                      <a href="#">Читати більше
                        <i class="fa fa-angle-double-right"></i>
                      </a>
                    </div>
                    <div class="find-out-more-btn">
                      <a href="#" class="btn crose-btn btn-2">Переглянути</a>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ##### Upcoming Events Area End ##### -->

  <!-- ##### Footer Area Start ##### -->
  <footer class="footer-area">
    <%- include('../partials/footer') %>
  </footer>
  <!-- ##### Footer Area End ##### -->

  <%- include('../partials/scripts') %>
</body>

</html>